
body {
    background-color: rgb(154, 154, 206);
    font-family: 'Poppins', sans-serif;
  }


h2{
    font-size: 2 rem;
    font-weight: bold;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  
  }
  .pre_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
    border-radius: 20%;
  }
  .p_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     
    }
  